.App {
  text-align: center;
}

.Lista {
  list-style-type: none;
  font-size: 20px;
}

.Button {
  border: none;
  height: 20px;
  width: 150px;
  background-color: aquamarine;
  margin-left: 20px;
}

.Count {
  font-weight: bold;
  color: red;
}