.App {
  background-color: #deb887;
  width: 50%;
  margin: 0 auto;
  padding: 20px 0;
}

.Lista {
  list-style-type: none;
  margin-right: 25%;
  text-align: right;
}

Li {
  margin: 10px 0;
  font-size: 22px;
}

.Button {
  border: none;
  width: 120px;
  background-color: #508b18;
  margin: 0 10px;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px;
}

.Votes {
  margin-left: 20px;
  color: #0000ff;
  font-size: 18px;
}

.Count {
  font-weight: bold;
  color: #ff0000;
}